<div class="grid__wrapper">
    <div class="sample__header  mb-2">
        <div class="switch-sample">
            <h5 class="switch-sample__title">Car Gallery 2020</h5>
        </div>
        <div>
            <a [routerLink]="['add']">Add New Car</a>
        </div>
    </div>
    <div class="igx-grid__loading" *ngIf="isLoading">
        <igx-circular-bar [indeterminate]="true"> </igx-circular-bar>
    </div>

    <igx-grid [data]="vehicles" [allowFiltering]="true" [paging]="true" [perPage]="10" *ngIf="!isLoading">
        <igx-column field="photo" header="Photo" [filterable]="false">
            <ng-template igxCell let-cell="cell">
                <div class="cell__inner">
                    <igx-avatar
                        [src]="cell.row.rowData.photo || '../../../assets/car.png'"
                        roundShape="true"
                        size="small"
                    >
                    </igx-avatar>
                </div>
            </ng-template>
        </igx-column>
        <igx-column field="brand" header="Brand" [sortable]="true"></igx-column>
        <igx-column field="model" header="Model" [sortable]="true"></igx-column>
        <igx-column header="Price" [sortable]="true">
            <ng-template igxCell let-cell="cell">
                <igx-icon class="custom-size">attach_money</igx-icon> {{ cell.rowData.price }}
            </ng-template>
        </igx-column>
        <igx-column field="year" header="Year" [sortable]="true"></igx-column>
        <igx-column [filterable]="false">
            <ng-template igxCell let-cell="cell">
                <button
                    igxButton="icon"
                    [igxTooltipTarget]="editTooltip"
                    [routerLink]="['edit', cell.rowData.vehicleId]"
                >
                    <igx-icon color="#007ad9" class="custom-size">edit</igx-icon>
                    <div #editTooltip="tooltip" igxTooltip>
                        Edit
                    </div>
                </button>
                <button
                    igxButton="icon"
                    [igxTooltipTarget]="detailTooltip"
                    [routerLink]="['detail', cell.rowData.vehicleId]"
                >
                    <igx-icon color="green" class="custom-size">details</igx-icon>
                    <div #detailTooltip="tooltip" igxTooltip>
                        Detail
                    </div>
                </button>

                <button igxButton="icon" (click)="deleteDialog.open()">
                    <igx-icon color="red" class="custom-size">delete</igx-icon>
                </button>
                <igx-dialog
                    #deleteDialog
                    [closeOnOutsideSelect]="true"
                    [positionSettings]="newPositionSettings"
                    message="Are you sure you want to delete this vehicle?"
                >
                    <igx-dialog-title>
                        <div class="dialog-container">
                            <igx-icon>error</igx-icon>
                            <div class="dialog-title">Delete this vehicle?</div>
                        </div>
                    </igx-dialog-title>
                    <div igxDialogActions class="dialog-container button">
                        <button igxButton class="danger" (click)="confirm(cell.rowData.vehicleId)">DELETE</button>
                        <button igxButton class="default" (click)="deleteDialog.close()">CANCEL</button>
                    </div>
                </igx-dialog>
            </ng-template>
        </igx-column>
    </igx-grid>
</div>

<!--<h1>Car Gallery</h1>
<p>
    <a [routerLink]="['add']">Add New Car</a>
</p>
<table *ngIf="vehicles && vehicles.length > 0; else noVehicles" class="table">
    <thead>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">Price($)</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of vehicles">
            &lt;!&ndash;<th scope="row"><img src="https://{{ v.photo }}" alt="[Image Missing]" width="100px" /></th>&ndash;&gt;
            <th scope="row"><img src="{{ v.photo || '../../../assets/user.png' }}" width="100px" /></th>
            <td>{{ v.brand }}</td>
            <td>{{ v.model }}</td>
            <td>{{ v.year }}</td>
            <td>{{ v.price }}</td>
            <td>
                <a class="mr-1" [routerLink]="['edit', v.vehicleId]">Edit</a>|<a
                    class="ml-1 mr-1"
                    [routerLink]="['detail', v.vehicleId]"
                    >Details</a
                >|<a class="ml-1" (click)="openDeleteModal(deleteTemplate)">Delete</a>
            </td>

            <ng-template #deleteTemplate>
                <div class="modal-body text-center">
                    <p>Are you sure you want to delete this vehicle?</p>
                    <button type="button" class="btn btn-danger mr-2" (click)="confirm(v.vehicleId)">Delete</button>
                    <button type="button" class="btn btn-default" (click)="decline()">Cancel</button>
                </div>
            </ng-template>
        </tr>
    </tbody>
</table>-->
