a {
    color: #007ad9 !important;
    text-decoration: none;
}

a:hover {
    color: #3f51b5 !important;
    text-decoration: none;
    cursor: pointer;
}

.readonly-label {
    color: #999 !important;
    font-weight: 500 !important;
    white-space: nowrap;
}

.custom-size {
    font-size: 18px;
    width: 16px;
    height: 16px;
}

/deep/.igx-dialog__window {
    width: 600px !important;
}

/deep/.igx-typography .igx-dialog__window-content {
    letter-spacing: 0 !important;
}

.dialog-container {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
}

.buttons-sample {
    display: flex;
}
.danger {
    font-size: 12px;
    border-radius: 12px;
    text-transform: capitalize;
    height: auto;
    background-color: red;
    color: #fff;
    padding: 5px 16px;
}
.default {
    font-size: 12px;
    border-radius: 12px;
    text-transform: capitalize;
    height: auto;
    background-color: #979797;
    color: #fff;
    padding: 5px 16px;
}
