a {
    color: #007ad9 !important;
    text-decoration: none;
}

a:hover {
    color: #3f51b5 !important;
    text-decoration: none;
    cursor: pointer;
}

.readonly-label {
    color: #999 !important;
    font-weight: 500 !important;
    white-space: nowrap;
}
