<h3>Details</h3>
<h4>Car</h4>
<hr />
<div *ngIf="vehicle">
    <div class="row">
        <div class="col-md-6">
            <h5>Photo</h5>
        </div>
        <div class="col-md-6">
            <img src="{{ vehicle.photo || '../../../assets/car.png' }}" width="100px" />
        </div>
        <div class="col-md-6">
            <h5>Brand</h5>
        </div>
        <div class="col-md-6 mt-4">
            {{ vehicle.brand }}
        </div>
        <div class="col-md-6">
            <h5>Model</h5>
        </div>
        <div class="col-md-6 mt-4">
            {{ vehicle.model }}
        </div>
        <div class="col-md-6">
            <h5>Year</h5>
        </div>
        <div class="col-md-6 mt-4">
            {{ vehicle.year }}
        </div>
        <div class="col-md-6">
            <h5>Price($)</h5>
        </div>
        <div class="col-md-6 mt-4">
            {{ vehicle.price }}
        </div>
    </div>
    <hr />
    <h4>Contact</h4>
    <div class="row">
        <div class="col-md-6">
            <h5>Name</h5>
        </div>
        <div class="col-md-6 mt-4">
            {{ vehicle.contact.contactName }}
        </div>
        <div class="col-md-6">
            <h5>Email</h5>
        </div>
        <div class="col-md-6 mt-4">
            {{ vehicle.contact.contactEmail }}
        </div>
        <div class="col-md-6">
            <h5>Phone</h5>
        </div>
        <div class="col-md-6 mt-4">
            {{ vehicle.contact.contactPhone | phone: 'US' }}
        </div>
    </div>
    <hr />
    <h4>Features</h4>
    <div *ngFor="let f of vehicle.features">
        <div class="col-md-6 mt-4">
            {{ f.featureName }}
        </div>
    </div>
</div>
<div class="mt-5">
    <a class="mr-1" [routerLink]="['/edit', vehicleId]">Edit</a>|<a class="ml-1" [routerLink]="['/']">Back to list</a>
</div>
